<main class="main">
  <div class="inner">
    <div class="dashboard">
      <div class="dashboard-card">
        <p>新製品登録</p>
        <%= link_to image_tag("book-open.svg", class: :card_img), new_item_path %>
      </div>

      <div class="dashboard-card">
        <p>当日生産リスト作成</p>
        <%= link_to image_tag("list.svg", class: :card_img), lists_path %>
      </div>

      <div class="dashboard-card">
        <p>分析値入力</p>
        <%= link_to image_tag("edit.svg", class: :card_img), analyses_path %>
      </div>

      <div class="dashboard-card">
        <p>検索</p>
        <%= link_to image_tag("search.svg", class: :card_img), search_lists_path %>
      </div>
    </div>
  </div>
</main>

