/* ヘッダー */

.header {
  background-color: #243856;
  padding: 20px 0;
}
.inner {
  width: 1024px;
  margin: 0 auto;

}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

main {
  background-color: #fcffff;
  width: 100%;
  height: 100vh;
  padding-top: 30px;
}
.main-view {
  width: 1024px;
  margin: 0 auto;
}
.category-select {
  height: 30px;
}

.portfolio-policy {
  text-align: center;
  color: #243856;
}
.dashboard {
  display: flex;
  justify-content: space-around;
}
.dashboard-card {
  border: solid 2px #e1e2e4;
  background-color: #fff;
  margin: 20px;
  text-align: center;
  padding: 20px;
  box-shadow: gray 0px 1px 5px;
}

p {
  font-size: 20px;
  color: #243856;
  text-align: center;
}
.card_img {
  width: 200px;
  height: 300px;
  padding-top: 20px;

}
.error-message {
  font-size: 10px;
  color: red;
  text-align: center;
  }
.flash-message {
  color: #fff;
}
.guest-login, .links {
  margin: 10px 0;
}
/* item */
.item-pool {
  display: flex;
  justify-content: space-around;
}
.page-heading {
  font-size: 20px;
  color: #243856;
  margin-bottom: 20px;
}
.all-item-title {
  border: solid 1px #e1e2e4;
  display: flex;
  justify-content: space-between;
  height: 35px;
  width: 350px;
  padding: 5px;
  margin: 5px;
  box-shadow: gray 0px 1px 5px;
  
}
.item-list {
  border: solid 1px #e1e2e4;
  display: flex;
  justify-content: space-between;
  height: 35px;
  width: 350px;
  padding: 5px;
  margin: 5px;
  box-shadow: gray 0px 1px 5px;
  text-decoration: none;
}
.item-list:hover {
  color: #ffffff;
  background-color: gray;
}
a {
  font-size: 15px;
  text-align: center;
}

.field {
  margin-bottom: 10px;
}
/* list */
.head-incode {
  padding: 20px;
}
.today-list {
  display: flex;
  justify-content: space-around;
}

.item-list-today {
  border: solid 1px #e1e2e4;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  box-shadow: gray 0px 1px 5px;
}
/* analysis */
h1 {
  padding: 10px;
  font-size: 20px;
}

.analysis-cards {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  /* レスポンシブ対応時 */
  /* -webkit-overflow-scrolling: touch; */
}

.analysis-card {
  border: solid 1px #e1e2e4;
  background-color: #fff;
  width: 210px;
  margin: 5px;
  justify-content: space-between;
  box-shadow: gray 0px 1px 5px;
}

li {
  border: solid 1px #e1e2e4;
  margin: 5px;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  width: 200px;
  height: 40px;
}

.sulfurous_acid {
  border: solid 1px #e1e2e4;
  padding: 5px;
  margin: 5px;
  height: 100px;
}
.free_sulfurous_acid{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.total_sulfurous_acid{
  display: flex;
  justify-content: space-between;
}
.comment {
  border: solid 1px #e1e2e4;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  height: 105px;
}
.btn-contents {
  margin: 10px;
}
.analysis-input {
  width: 70px;
  text-align: center;
  background-color: #fcffff;
}

.comment-input {
  width: 150px;
  height: 100px;
  text-align: center;
  background-color: #fcffff;
}
.date {
  text-align: center;
  padding-right: 5px;
}
.show-dashboard {
  display: flex;
  justify-content: space-around;
}

.pdf-description {
  border: solid 1px #e1e2e4;
  background-color: #fff;
  margin: 5px;
  padding: 10px;
  justify-content: space-between;
  box-shadow: gray 0px 1px 5px;
}

.pdf-button {
  margin: 10px;

}