<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  </head>
  <body>
    <div class="pdf-header">
      <div class>
        
      </div>
      <div class="date-info">
        <span><%= Date.today %></span>
      </div>
      <div class="company">
        <span>○○株式会社</span>
      </div>
      <div class="company-info">
        <a>東京都墨田区○○</a>
      </div>
    </div>
    <div class="pdf-main">
      <%= yield %>
    </div>
    <div class="pdf-footer">
      <span>分析責任者</span>
      <br>
      <%= current_user.last_name %>
    </div>
  </body>
</html>